<h1>Song Index</h1> 

<tbody>
<% @songs.each do |song| %>
<div class="song">
    <tr>
    <%= song.title %>
    <%= song.release_year %>
    <%= song.artist_name %>
    <%= song.genre %>
    <%= link_to "Delete", song, method: :delete, data: {confirm: "Really?"} %>
    </tr>
</div>
<% end %>
</tbody>
